<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.perfectbutterbackup"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <original-package android:name="com.app.perfectbutterbackup" />
    
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permissions.CHANGE_CONFIGURATION" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.app.perfectbutterbackup.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- android file chooser -->

        <activity
            android:name="group.pals.android.lib.ui.filechooser.FileChooserActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />

        <service android:name="group.pals.android.lib.ui.filechooser.services.LocalFileProvider" >
        </service>
        <!-- end android file chooser -->

        <activity
            android:name="com.app.perfectbutterbackup.AppSettingsActivity"
            android:label="app settings" >
        </activity>
    </application>

</manifest>